{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Возведение числа в степень {% endblock %}

{# основной контент: #}
{% block main %}
    {% if error %}
        <h1>{{ error }}</h1>
    {% else %}
        {% if error0 %}
        <h1>{{ error0 }}</h1>
        {% else %}
            <h1>Возведение числа в степень</h1>
            {{ x1 }} ** {{ x2 }} = {{ result }}
        {% endif %}
    {% endif %}
   <a href="/lab4/exponentiation-form">Вернуться назад</a>
{% endblock %}
