/* Reset CSS - Сбрасывает стили по умолчанию */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	line-height: 1.5;
	font-family: Arial, sans-serif;
	color: #333;
	background-color: #f4f4f9;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin-bottom: 0.5em;
}


a {
	text-decoration: none;
	color: inherit;
}


ul,
ol {
	list-style: none;
}


img {
	display: block;
	max-width: 100%;
	height: auto;
}


table {
	border-collapse: collapse;
	width: 100%;
}


form {
	margin: 0;
	padding: 0;
}


button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
}


input,
textarea,
select {
	border: none;
	outline: none;
	background: none;
}


input,
textarea {
	font-family: inherit;
	font-size: inherit;
}


blockquote {
	margin: 0;
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
