body {
    background-color: #ee9a2c; 
    color: black; 
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #071055;
     font-size: 40px
}

img {
    display: block;
    margin: 0 auto;
    width: 600px; 
    height: auto; 
}

a {
    display: block;
    text-align: left;
    margin-top: 20px;
    color: #043504; /* Цвет ссылки */
    text-decoration: none;
}

a:hover {
    color: #00b300; /* Цвет при наведении */
}

p {
    font-size: 20px;
}