{% extends "base.html" %}

{% block lab %}  Лабораторная работа 9 {% endblock %}

{% block main %}
    <h1>Подбор предпочтений</h1>

        <form method="post">
            {% if request.args.get('preference') == 'вкусное' %}
                <label for="sub_preference">Что-то сладкое или соленое?</label>
                <select id="sub_preference" name="sub_preference" required>
                    <option value="сладкое">сладкое</option>
                    <option value="соленое">соленое</option>
                </select>
            {% else %}
                <label for="sub_preference">Что-то декоративное или милое?</label>
                <select id="sub_preference" name="sub_preference" required>
                    <option value="декоративное">декоративное</option>
                    <option value="милое">милое</option>
                </select>
            {% endif %}
            <input type="submit" value="Далее">
        </form>
{% endblock %}
