{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 2. {% endblock %}

{# основной контент: #}
{% block main %}
        <h1>Результат операций с числами:</h1>
        <p>Суммирование: {{ a }} + {{ b }} = {{a + b}}</p>
        <p>Вычитание: {{ a }} - {{ b }} = {{a - b}}</p>
        <p>Умножение: {{ a }} × {{ b }} = {{a * b}}</p>
        <p>Деление: {{ a }} / {{ b }} = {{a / b if b != 0 else "На ноль делить нельзя"}}</p>
        <p>Возведение в степень: {{ a }}<sup>{{ b }}</sup> = {{a ** b}}</p>
{% endblock %}
