{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 8 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1 class="header3 center">База знаний</h1>
    {% if login %}
        <div class="center">{{ login }}</div>
    {% else %}
        <div class="center">Anonymous</div>
    {% endif %}
    <div class="center">
        <div class="article article3 knowledge1"><a href="/lab8/login">Вход</a></div>
        <div class="article article3"><a href="/lab8/register">Регистрация</a></div>
        <div class="article article3"><a href="/lab8/articles">Список статей</a></div>
        <div class="article article3"><a href="/lab8/create">Создать статью</a></div>
        <div class="article article3"><a href="/lab8/public_articles">Публичные статьи</a></div>
    </div>
    <div class="list knowledge1">
        <h1 class="header3 center">Вход в систему</h1>
        <form action="/lab8/login" method="post">
            <div>
                <label>
                    Логин: <input class="userinfo" type="text" name="login">
                </label>
            </div>

            <div>
                <label>
                    Пароль: <input class="userinfo" type="password" name="password">
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" name="remember"> Запомнить меня
                </label>
            </div>

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}

            <div class="center"><button class="userinfo forbutton" type="submit">Вход</button></div>
        </form>
    </div>
{% endblock %}