<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<title>Мессенджер Boo</title>

		<script>
			// Удаление сообщений после 4 секунд
			window.onload = function () {
				setTimeout(function () {
					let flashMessages = document.querySelectorAll(".flash-message");
					flashMessages.forEach(function (message) {
						message.classList.add("fade-out"); // Добавляем класс для анимации
					});
				}, 4000); // Сообщения исчезнут через 4 секунды
			};
		</script>
	</head>
	<body>
		<header>
			<p class="student-info">Бугаёва Наталья Владимировна ФБИ-21</p>
			<nav>
				{% if current_user.is_authenticated %}
				<a href="{{ url_for('logout') }}">Выйти</a>
				{% else %}
				<a href="{{ url_for('login') }}">Вход</a>
				<a href="{{ url_for('register') }}">Регистрация</a>
				{% endif %}
			</nav>
		</header>
		<main>
			{% with messages = get_flashed_messages(with_categories=true) %} {% if
			messages %}
			<div class="flash-messages-container">
				{% for category, message in messages %}
				<div class="flash-message {{ category }}">{{ message }}</div>
				{% endfor %}
			</div>
			{% endif %} {% endwith %} {% block content %}{% endblock %}
		</main>
	</body>
</html>
